*{ margin: 0; padding: 0; }*

body {
	font: .8em Arial, Sans-Serif;
	line-height: 1.8em;
	background: #fff;
	color: #444;
	text-align: justify;
}

img {
	border: 3px solid #ccc;
	width: 800px;
	margin: 10px 0px;
}

#toggle {
	display: none;
}

#wrapper {
	padding: 10px 10px 3px 10px;
	width: 1024px;
	margin: 20px auto;
	background: #fff;
}

#header img {
	border: none;
	width: 1024px;
	margin: 0px;
}

#menu {
	float: left;
	width: 200px;
	background: #fff;
	text-align: left;
	font-size: 1em;
	color: #fff;
}

#menu a {
	color: #fff;
	text-decoration: none;
}

#menu a:hover {
	font-weight: bold;
}

#menu h3 a:hover {
	color: #ccc;
}

#menu a:visited {
	color: #fff;
	text-decoration: none;
}

#menu li a {
	padding: 5px 10px 10px 10px;
	color: #444;
}

#menu li a:visited {
	color: #444;
}

#main {
	float: right;
	width: 810px;
	background: #fff;
}

#main a {
	color: #000;
	text-decoration: none;
}

#main a:visited {
	color: #444;
	text-decoration: none;
}

#main a:hover {
	color: #000;
	text-decoration: none;
}

#main li {
	list-style-type: disc;
	margin-left: 35px;
	line-height: 1.4em;
}

table td{
	border: 1px #999 solid;
}

table td.head {
	text-align: center;
	background: #eee;
	font-weight: bold;
}

table td.names {
	padding: 0px 5px 0px 5px;
	background: #eee;
	font-weight: bold;
}
	
table td.url {
	font-family: monospace;
	font-size: 1.1em;
	padding: 0px 0px 0px 5px;
	color: #333;
}

ul {
	padding: 0;
	margin: 0 0 10px;
}

li {
	list-style-type: none;
}

h3 {
	font-family: monospace, monospace;
	padding: 0 10px 0 10px;
	font-size: 1.1em;
	color: #fff;
	background: #777;
	height: auto;
	line-height: 24px;
	margin: 10px 0 10px 0;
}

#main h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.02em;
}

h7 {
	font-family: monospace;
	font-size: 1.2em;
	background: #ddd;
	margin: 0 0 0 10px;
	padding: 5px;
}

hr {
	border: none;
	height: 2px;
	background: #999;
}

*/#495C81